<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin-base:: Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Admin Vehicle viwe</title>

</head>
<body>

<section>
    <div class="containerv">
        <h1>Available Vehicles</h1>

        <div class="vehicle-container">
            <div class="vehicle-card" th:each="v : ${vehicles}">
                <img th:if="${v.photo != null}" th:src="@{'/uploads/' + ${v.photo}}" alt="Vehicle Image"/>
                <h3 th:text="${v.brand} + ' ' + ${v.model}"></h3>
                <p>Number Plate: <span th:text="${v.numberplate}"></span></p><br>

                <a th:href="@{'/admin/adminvehical/' + ${v.id}}"  class="bp btnw">View & Feedback</a>


            </div>
        </div>

    </div>
</section>

</body>
</html>